@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  --clear: #eee75b;
  --rain: #94baf0;
  --snow: #afe8e8;
  --mist: #99bebf;
  --clouds: #b3b0b0;
  background-color: #2e3549;
}
p {
  color: #363738;
}
h2 {
  font-size: 19px;
  font-weight: 800;
  font-family: 'Lato', sans-serif;
  color: #363738;
}
#title {
  margin-top: 2rem;
  color: white;
  text-align: center;
  font-size: 36px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.input {
  margin: 2rem 0;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 50px;
  padding: 0.5rem;
  font-size: 18px;
  box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.3);
}
#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}
.error-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 300px;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.3);
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 300px;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px 150px;
  box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.3);
}
.card-container.Clear {
  background-image: url('./images/sunny.svg');
  border-bottom: 10px solid var(--clear);
}
.card-container.Rain {
  background-image: url('./images/rain.svg');
  border-bottom: 10px solid var(--rain);
}
.card-container.Clouds {
  background-image: url('./images/clouds.svg');
  border-bottom: 10px solid var(--clouds);
}
.card-container.Snow {
  background-image: url('./images/snow.svg');
  border-bottom: 10px solid var(--snow);
}
.card-container.Mist,
.card-container.Fog {
  background-image: url('./images/mist.svg');
  border-bottom: 10px solid var(--mist);
}
.top-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.middle-container #temp-actual {
  font-size: 55px;
  font-weight: 600;
  color: #363738;
}
.middle-container p {
  text-transform: uppercase;
  font-size: 12px;
}
.middle-container .temp-minmax {
  font-weight: 600;
  font-size: 20px;
}
#vertical-line {
  display: inline-block;
  width: 0.5px;
  height: 14px;
  background-color: #202221;
  margin: 0 0.4rem;
}
#minmax {
  position: relative;
  top: -10px;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.bottom-container {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  font-weight: 200;
  text-align: center;
}
.bottom-container p {
  margin-bottom: 0.5rem;
}
.bottom-container span {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-align: center;
}
.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100px;
}
#weather {
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  text-transform: lowercase;
}
#scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100px;
}
#scale button {
  border: none;
  margin: 0 0.5rem;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: transform 0.2s;
}
#scale button:hover {
  opacity: 0.8;
  transform: scale(1.3);
}
.selected {
  text-decoration: none;
}
.selected.Clear {
  background-color: var(--clear);
}
.selected.Rain {
  background-color: var(--rain);
}
.selected.Clouds {
  background-color: var(--clouds);
}
.selected.Snow {
  background-color: var(--snow);
}
.selected.Mist,
.selected.Fog {
  background-color: var(--mist);
}
#humidity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100px;
}
#humidity-icon {
  position: relative;
  height: 18px;
  margin-right: 0.3rem;
}
#wind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100px;
}
#wind-icon {
  position: relative;
  width: 20px;
  margin-right: 0.3rem;
}
